@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

body {
    margin: 0px;
}


header {
    background-color: #42AB9E;
    display: block;
    height: min-content;
    padding: 1rem;
    margin-bottom: 1rem;
}


.cover {
    text-align: center;
    margin: auto;
}

.coverImg {
    max-width: 400px;
    max-height: 200px;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Balsamiq Sans', cursive;
}

h3 {
    text-align: center;
    padding: 10px;
    font-family: 'Balsamiq Sans', cursive;
}

h4 {
    text-align: center;
    color: white;
    font-family: 'Balsamiq Sans', cursive;
    display: block;
}

.button {
    
}

#btn-translate {
    display: block;
    padding: 10px 20px;
    margin: auto;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: coral;
    border-radius: 8px;
    cursor: pointer;

}

#output {
    display: block;
    height: 20vh;
    width: 50%;
    border: 3px solid;
    border-radius: 0.5rem;
    text-align: center;
    margin: auto;
    padding: 15px;
    background-color: #ffffff;
}

#inputText {
    display: block;
    height: 20vh;
    width: 50%;
    border: 3px solid;
    border-radius: 0.5rem;
    text-align: center;
    margin: auto;
    padding: 15px;
}

footer {
    background-color: #42AB9E;
    padding: 10px;
    margin-top: 1rem;
}

.footer-inline {
    text-decoration: none;
    display: inline;
    padding: 0px 5px;
    font-size: 20px;

}

.social {
    list-style-type: none;
    text-align: center;
}